body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

a {
    color: dodgerblue;
}

h1 {
    text-align: center;
    margin: 1em auto;
}

#container {
    display: flex;
    justify-content: center;
}

#editor,
#output {
    resize: none;
    outline: none;
    height: 383px;
    width: 350px;
    font: inherit;
}

#editor {}

#copy {
    display: block;
    margin: 16px auto;
    font-size: 18px;
    padding: 0.5em 1em;
    border-radius: 8px;
    border: none;
    background: #ddd;
}

#copy:active {
    outline: none;
    background: #bbb;
}

.fa-copy {
    position: absolute;
    right: 0;
}

#preview {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height: 389px;
    width: 280px;
    min-width: 280px;
    border: none;
    background-color: #222b37;
    color: #fff;
    font-family: inherit;
    font-size: 12px;
    line-height: 16px;
    padding: 20px 15px 20px 20px;
    word-break: break-word;
    overflow-y: scroll;
}

#preview::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

#preview::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
}

#preview::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3);
}

#preview a {
    color: white;
}

article {
    background: #f5f5f5;
    border-radius: 8px;
    padding: 16px;
    margin: 32px auto;
    width: 480px;
    max-width: 100%;
}

article h3 {
    margin: 4px;
}

article table {
    width: 100%;
}

footer {
    text-align: center
}

.relative {
    position: relative;
}